<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>942922799291-r5ok0d89gk60gak7cstrrgevummno7a2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.942922799291-r5ok0d89gk60gak7cstrrgevummno7a2</string>
	<key>API_KEY</key>
	<string>AIzaSyBg_-Y9rruwy2AEazhDTC--_R0DC3CheMw</string>
	<key>GCM_SENDER_ID</key>
	<string>942922799291</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.apptech.seyr</string>
	<key>PROJECT_ID</key>
	<string>seyr-9c189</string>
	<key>STORAGE_BUCKET</key>
	<string>seyr-9c189.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:942922799291:ios:4715c079d56568c317f19e</string>
</dict>
</plist>